.current-pane{
    background-color: #f5f5f5 !important;
    padding: 0.8rem;
    height: 50vh;
    overflow-y: scroll;
}

.current-row-tab{
    background-color: white !important;
    display: inline-flex;
    justify-content: space-between;
    padding: 1.5rem;
    margin-bottom:1rem;
    border-radius: 8px;
    width: 90%;
}


.row{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.fd-pane{
    background-color: #f5f5f5 !important;
    height: 50vh;
    padding: 0.8rem;
    overflow-y: scroll;
}

.fd-row-tab{
    background-color: white !important;
    padding: 1.5rem;
    margin-bottom:1rem;
    border-radius: 8px;
    width: 90%;
}